/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: red;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    margin-bottom: 1em;
}

.botoes {
    margin: 1em auto;
    

}

.botoes button {
    border-radius: 5px;
    background-color: yellowgreen;
    font-weight: bold;
    padding: .5em;
    cursor: pointer;
}

input {
    max-width: 200px;
    margin: auto;
    background-color: transparent;
    padding: .5em;
    border-radius: 5px;
}

input::placeholder {
    color: rgba(240, 255, 255, 0.52);
}

li {
    text-transform: capitalize;
    padding: .8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 1em;
    max-width: 100%;
    height: 50px;
    background-color: blue;
}

#convidados {
    background-color: aqua;
    width: 400px;
    height: 300px;
} */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button#btnadd {
    background-color: #4caf50;
    color: white;
}

button#btnadd:hover {
    background-color: #45a049;
}

button#btnapaga {
    background-color: #f44336;
    color: white;
}

button#btnapaga:hover {
    background-color: #d32f2f;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

ul li button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul li button:hover {
    background-color: #d32f2f;
}

li span {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    max-width: 440px;
    overflow-x: auto;
}

/* li span::-webkit-scrollbar {
    height: 5px;
} */

span input[type=checkbox] {
    position: absolute;
    margin-top: 18px;
}

li p {
    margin-left: 1em;
    text-transform: capitalize;
    margin-left: 2em;
}

